

<ion-content class="home">


  
  <form class="login">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input type="text" name="login" placeholder="Login"><ion-icon name="person-outline"></ion-icon></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input type="password" name="lock-closed-outline" placeholder="Senha"><ion-icon name="lock-closed-outline"></ion-icon></ion-input>
    </ion-item>
    
    <ion-button class="btnEntrar" type="submit" expand="block" color= "primary"  (click)="login()">ENTRAR</ion-button>
  </form>

  <ion-button id="cad" expand="block" fill="outline">REGISTRAR</ion-button>
   
</ion-content>