<ion-header>
  <ion-toolbar>
    <ion-title>Flavio Pereira Alves</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <img src="assets/img/logo.png"  alt="logo"> 
  <h3>Login</h3>
  <form>
    <ion-item class="input" >
      <ion-label><ion-icon name="people-sharp"></ion-icon> Email</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item class="input" fill="outline" >
      
      <ion-label><ion-icon name="key-sharp"></ion-icon> Senha</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="password" ></ion-input>
    </ion-item>

    <ion-button  type="submit" (click)="MethodLogin()" block >Entrar</ion-button>
  </form>

  <ion-button  block fill="outline"  color="secondary" (click)="register()">Registrar</ion-button>

  <p>EMAIL : eve.holt@reqres.in</p>
   <p>PASSWORD: cityslicka</p>

</ion-content>

