
<ion-content class="ion-padding">
  <img src="assets/img/signUp.png"  alt="logo"> 

  <form>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="password" ></ion-input>
    </ion-item>

    <ion-button  type="submit" (click)="MethodCreate()" block >Cadastrar</ion-button>
  </form>

  <p>email: eve.holt@reqres.in</p>
  <p>password": pistol</p>
<br>
<p>Obs. a api so aceita esses dados </p>
</ion-content>

